<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.cpe.device.mapper.CpeDeviceMapper">
	<select id="selectByDeviceSn" parameterType="java.lang.String" resultType="org.jeecg.modules.cpe.device.entity.CpeDevice">
		SELECT * 
		FROM  cpe_device
		WHERE
			 device_sn = #{deviceSn} 	</select>
</mapper>